//mixins
@mixin chatbase{
    border-radius: 0px 37px 37px 37px;
}

.chatmic{ 
    position:fixed;
    bottom: 2rem;
    right: 2rem;
    height: 7.2rem;
    width: 7.2rem;
    border: none;
    border-radius: 50%;
    background-color: var(--disabled-mic);
    outline: none;
    cursor: pointer;

    @media only screen and (max-width: $md-phone){
        height: 6.2rem;
        width: 6.2rem;
    }

    &__icon{
        font-size: 3rem;
        color: var(--dark-blue);
    }
}

.chatarea{
    padding-top: 10rem;
    margin: 3rem 0;
    position: relative;
    z-index: -1;

    &__textbase{
        width: 66%;
        padding: 2rem;
        margin: 3.5rem;

         @media only screen and (max-width: $laptop){
            width: 76%;
            margin: 2rem;
        }
        @media only screen and (max-width: $sm-ipad){
            width: 79%;
        }
        @media only screen and (max-width: $bg-phone){
            width: 84%;
        }
        @media only screen and (max-width: $phone){
            width: 80%;
        }
        @media only screen and (max-width: $sm-phone){
            padding: 1.3rem 1.6rem;
        }

    }

    &__user{
        background: var(--dark-blue);
        color: var(--user-textcolor);
        border-radius: 0px 40px 40px 40px;
    }
    &__info{
        text-align: center;
        border-radius:  40px;
        background: var(--color-gray);
        color: var(--user-textcolor);
        font-size: 2.3rem;
        font-weight: 300;

    }

    &__bot{
        background: var(--color-lime);
        color: var(--bot-textcolor);
        border-radius: 40px 0px 40px 40px;
        margin: 0 auto;
        padding: 1.5rem;
        padding-left: 3rem;

    }
}

//scrollbar button
::-webkit-scrollbar {
    width: 18px; 
}
  
::-webkit-scrollbar-thumb {
    background-color: var(--color-gray);
    height: 10rem;
    border-radius: 10px;
    margin-right: 2px; 
}
::-webkit-scrollbar-thumb :hover {
      background-color: var(--dark-gray); 
}
  
  ::-webkit-scrollbar-track {
    border: 1px solid var(--background-color);
    background: var(--background-color);
    box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.05); 
}